* {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

.content-wrap {
    width: 100%;
    margin: 0 auto;
    max-width: 540px;
}

.content-wrap .content-list img {
    width: 100%;
}

.content-wrap .content-list img:last-child {
    margin-bottom: 38px;
}

.content-wrap .fix-button a {
    width: 100%;
    height: 100%;
}

.content-wrap .fix-button img {
    position: fixed;
    width: 100%;
    max-width: 540px;
    bottom: 0;
}

.content-wrap .content-list .item-img01 {
    width: 100%;
    height: 100%;
    background-image: url(../images/img-01@2x.jpg);
    background-image: -webkit-image-set(url(../images/img-01@2x.jpg) 1x,url(../images/img-01@3x.jpg) 2x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content-wrap .content-list .item-img02 {
    width: 100%;
    height: 100%;
    background-image: url(../images/img-02@2x.jpg);
    background-image: -webkit-image-set(url(../images/img-02@2x.jpg) 1x,url(../images/img-02@3x.jpg) 2x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content-wrap .content-list .item-img03 {
    width: 100%;
    height: 100%;
    background-image: url(../images/img-03@2x.jpg);
    background-image: -webkit-image-set(url(../images/img-03@2x.jpg) 1x,url(../images/img-03@3x.jpg) 2x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content-wrap .content-list .item-img04 {
    width: 100%;
    height: 100%;
    background-image: url(../images/img-04@2x.png);
    background-image: -webkit-image-set(url(../images/img-04@2x.png) 1x,url(../images/img-04@3x.png) 2x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content-wrap .content-list .item-img05 {
    width: 100%;
    height: 100%;
    background-image: url(../images/img-05@2x.jpg);
    background-image: -webkit-image-set(url(../images/img-05@2x.jpg) 1x,url(../images/img-05@3x.jpg) 2x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content-wrap .content-list .item-img06 {
    width: 100%;
    height: 100%;
    background-image: url(../images/img-06@2x.jpg);
    background-image: -webkit-image-set(url(../images/img-06@2x.jpg) 1x,url(../images/img-06@3x.jpg) 2x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content-wrap .content-list .item-img07 {
    width: 100%;
    height: 100%;
    background-image: url(../images/img-07@2x.jpg);
    background-image: -webkit-image-set(url(../images/img-07@2x.jpg) 1x,url(../images/img-07@3x.jpg) 2x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content-wrap .content-list .item-img08 {
    width: 100%;
    height: 100%;
    background-image: url(../images/img-08@2x.jpg);
    background-image: -webkit-image-set(url(../images/img-08@2x.jpg) 1x,url(../images/img-08@3x.jpg) 2x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}